:root {
  --green: rgba(0,255,0,0.3);
  --black-bg: rgba(0,0,0,0.4);
  --yellow: rgba(238, 255, 0, 0.3);
}

/* Main page */

html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  height: 100%;
  color: white;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft.ttf') format('truetype');
}

/* Midten av siden */
.center-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: 0;
}

/* Midten av siden */
.snake {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: 0;
}

.score,
.username,
.reset {
  color:#0f0;
}

.score,
.username {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--canvas-size, 600px); /* så de følger bredden på canvas */
  margin-top: 10px;

  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 24px;
}

.reset {
  background-color: transparent;
  border: none;
  outline: 2px solid #0f0;
}

.leaderboard {
  position: absolute;
  top: 20.5%; /* roughly aligns with snake canvas */
  left: 70%; /* adjust based on your screen size / canvas width */
  color: #0f0;
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 20px;
  width: 200px;
}

.leaderboard h3 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 24px;
}

.leaderboard ol {
  padding-left: 20px;
  margin: 0;
}

.leaderboard li {
  margin-bottom: 6px;
}

#leaderboard-leader {
  font-style: bold;
  margin-top: 10px;
  text-align: center; /* ensures the text is centered under the list */
  background: linear-gradient(90deg, red, yellow, #0f0, rgb(0, 128, 255), rgb(233, 2, 233), violet);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 0%; }
  100% { background-position: 400% 0%; }
}


/* idk this
@media (max-width: 768px) {
  .center-container {
    top: 20%;
    transform: translate(-50%, 0);
  }

  .main-text {
    font-size: 56px;
    margin-bottom: 1.75vh;
    text-align: center;
    width: fit-content;
  }
}

@media (max-width: 1800px), (max-height: 768px) {
  .footer-texts p {
    font-size: 14px;
  }
}*/